<!DOCTYPE html>
<html ng-app="flashcards">
<head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css"/>
<script type="text/javascript" src="scripts/card_data.js"></script>
<script type="text/javascript" src="angular/angular.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
</head>
<body ng-controller="CardController as flashcards">
	<div class="container">
		<h3><i>{{flashcards.card.BOOK}} {{flashcards.card.CHAPTER}} : Question {{flashcards.card.QUESTION_NUMBER}}</i></h3>
		<h2> {{flashcards.card.QUESTION}} </h2>
		<p><h3>
		<input type="radio" ng-model="answer" value="A"> {{flashcards.card.CHOICE_A}} <br/>
		<input type="radio" ng-model="answer" value="B"> {{flashcards.card.CHOICE_B}} <br/>
		<input type="radio" ng-model="answer" value="C"> {{flashcards.card.CHOICE_C}} <br/>
		<input type="radio" ng-model="answer" value="D"> {{flashcards.card.CHOICE_D}} <br/>
	</h3>
	</p>
	<p>
 		   <h1 ng-if="answer == flashcards.card.CORRECT_OPTION" class="animate-if text-success">Correct!</h1>
		   <h1 ng-if="answer != null && answer != flashcards.card.CORRECT_OPTION" class="animate-if text-error">Incorrect Answer</h1>
	</p>
	<p>
		<button ng-click="flashcards.get_previous_card()">
		  < Previous Question
		</button>
		
		<button ng-click="flashcards.get_next_card()">
		  Next Question >
		</button>
	</p>
	<p class="muted">
		(Question {{flashcards.card.SEQUENCE}} of {{flashcards.deck.length}} total questions)
	</p>
	</div>
	<script>
		 angular.module('answers', [])
		    .controller('AnswerController', ['$scope', function($scope) {
		      $scope.answer = '';
		    }]);
	</script>
</body>
</html>