<h1>
	Choose your flash cards
</h1>
      <!-- <p>selected deck is : {{selectedDeck}}<br /> -->
		  <!-- chosen set is : {{flashcards.chosen_set}}<br /> -->
		  <!-- <p>
		  Select a deck of flash cards :
      <select ng-model="selectedDeck" ng-change="flashcards.update_books()" ng-init="flashcards.update_books(); selectedDeck = selectedDeck || options[0].value" ng-options="option.label for option in flashcards.available_decks track by option.code">
      </select>
	  </p> -->
      <!-- <p>selected book is : {{selectedBooks}}<br />
		  available books are : {{flashcards.available_books}}<br />
		  Select Books for flash cards :
      <select ng-model="selectedBooks">
        <option ng-repeat="book in flashcards.available_books" value="{{book.BOOK_NUMBER}}">{{book.BOOK}}</option>
      </select>
	  </p> -->

      <!-- <h3>Select available books:</h3> -->
       <!-- <label for="multiBookSel">Multiple select:</label> -->
       <select id="multiBookSel" class="more_bigger_select" ng-change="flashcards.update_quiz(multiBooksSelected);" ng-model="multiBookSelected" ng-options="book.BOOK+' Ch. '+book.CHAPTER for book in flashcards.available_books" ng-init="flashcards.update_books(); multiBookSelected = multiBookSelected || options[0].value" multiple>
         <option value="">[No book]</option>
       </select><br />
       <br />
       <!-- <strong>Selected books:</strong> {{multiBookSelected}}<br /> -->
	<button ng-click='flashcards.apply_configuration(); flashcards.update_quiz(multiBookSelected);'>
	  Apply Choices
	</button>