	<button ng-click='flashcards.apply_configuration(); flashcards.update_quiz(multiBookSelected);'>
	  Apply Choices
	</button>
<h1>
	Choose your flash cards
</h1>
<div>
	   <p>You may choose multiple chapters.</p>
       <select id="multiBookSel" class="more_bigger_select" ng-model="multiBookSelected" ng-options="book.BOOK+' Ch. '+book.CHAPTER for book in flashcards.available_books" ng-init="flashcards.update_books(); multiBookSelected = multiBookSelected || options[0].value" multiple>
         <option value="">[No book]</option>
       </select> 
</div>