<div ng-if="flashcards.available_questions != null && flashcards.available_questions != 'undefined' && flashcards.available_questions!=''" class="animate-if"><p> 

		<h3><i>{{flashcards.card.BOOK}} {{flashcards.card.CHAPTER}} : Question {{flashcards.card.QUESTION_NUMBER}}</i></h3>
		<h2> {{flashcards.card.QUESTION}} </h2>
		<p><h3>
		<input type="radio" ng-model="answer" value="A"> {{flashcards.card.CHOICE_A}} <br/>
		<input type="radio" ng-model="answer" value="B"> {{flashcards.card.CHOICE_B}} <br/>
		<input type="radio" ng-model="answer" value="C"> {{flashcards.card.CHOICE_C}} <br/>
		<input type="radio" ng-model="answer" value="D"> {{flashcards.card.CHOICE_D}} <br/>
	</h3>
	</p>
	<p>
 		   <h1 ng-if="answer == flashcards.card.CORRECT_OPTION" class="animate-if text-success">Correct!</h1>
		   <h1 ng-if="answer != null && answer != flashcards.card.CORRECT_OPTION" class="animate-if text-error">Incorrect Answer</h1>
	</p>
	<p>
		<button ng-click="flashcards.get_previous_card(); answer = null;">
		  < Previous Question
		</button>
		
		<button ng-click="flashcards.get_next_card(); answer = null;">
		  Next Question >
		</button>
	</p>
	<p class="muted">
		(Question {{flashcards.active_card+1}} of {{flashcards.available_questions.length}} total questions)
	</p>
</p>
</div>
<div ng-if="flashcards.available_questions == null || flashcards.available_questions == 'undefined' || flashcards.available_questions==''" class="animate-if">
	<p>No questions available</p>
</div>
<!-- <div>
		  Select a deck of flash cards to get started:
      <select ng-model="selectedDeck" ng-change="flashcards.update_books()">
        <option ng-repeat="choice in flashcards.available_decks" value="{{choice.code}}">{{choice.label}}</option>
      </select>
	  </p>

      <h3>Select available books:</h3>
       <select id="multiBookSel" ng-model="multiBookSelected" ng-options="book.BOOK+' Ch. '+book.CHAPTER for book in flashcards.available_books" multiple>
         <option value="">[No book]</option>
       </select><br />
       <br />
	<button ng-click='flashcards.apply_configuration(); flashcards.update_quiz(multiBookSelected);'>
	  Apply Choices
	</button>
</div> -->